.usersList {
  height: 100%;
  width: 100%;
  margin-left: 152px;
  padding: 20px 59px 30px 34px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.usersListTitle {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
}
