// sidebar.scss
@import '../../index';

.sidebar {
  height: 100%;
  width: 152px;
  background-color: $sidebar-color;
  padding-top: 35px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  top: 0;
}

.sorting {
  font-size: 12px;
}
