#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
}

main {
  min-height: 100vh;
  height: 100%;
  width: 665px;
  display: flex;
  box-shadow: 0 0 40px 0 rgba(34, 60, 80, 0.3);
}

.statusMessage {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
